body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background: linear-gradient(to right, #11c037, #bfd53e);
    padding: 10px;
    width: 100%;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.subscription-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.subscription-card {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    text-align: center;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.price {
    font-size: 18px;
    color: #4CAF50;
}
.subscription-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}