<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <style>
     .form-container {
      max-width: 500px;
      margin: auto;
      padding: 20px;
      border: 1px solid;
      border-radius: 10px;
    }
  </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img src="img/8-removebg-preview.png" alt="" width="75" height="50">
          <a class="navbar-brand ms-4 text-white fw-bold" href="#">VERTEX<br>PROSERV</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="bi bi-list text-white"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-1">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">
                        <button class="ps-4 pe-4 pt-1 pb-1 rounded-pill border-0 fw-bold serach-bar-btn">Home</button>
                    </a>
                </li>
            </ul>
            <form class="d-flex border border-2 w-75 rounded-pill nav-bar-form1" role="search">
              <input class="form-control me-2 bg-transparent border-0 rounded-pill nav-bar-form text-white" type="search" placeholder="Search for Properties you are looking for..." aria-label="Search" >
              <button class="ps-4 pe-4 border-0 rounded-pill serach-bar-btn text-white fw-bold nav-bar-form2" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ms-1">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#freeSubscriptionModal">
                  <button class="ps-4 pe-4 pt-1 pb-1 rounded-pill border-0 fw-bold serach-bar-btn">Free Subscription</button>
                </a>
              </li>
            </ul>
             <!-- Add this button where you want to trigger the "Create Account" modal -->
<ul class="navbar-nav ms-1">
  <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="create.html">
          <button class="ps-4 pe-4 pt-1 pb-1 rounded-pill border-0 fw-bold serach-bar-btn">Create Account</button>
      </a>
  </li>
</ul>

              <ul class="navbar-nav ms-1">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="login.html">
                        <button class="ps-4 pe-4 pt-1 pb-1 rounded-pill border-0 fw-bold serach-bar-btn">Login</button>
                    </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="form-container mt-4"v style="height: 250px;">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/t1E/oo81OEdkYN1uPQr/raQoNM6fJ4z1isnvM=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      <script>
 
    
      </script>

</body>
</html>